<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MessagePack" version="3.1.4" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="3.1.4" targetFramework="net48" />
  <package id="MessagePackAnalyzer" version="3.1.4" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Build.Framework" version="18.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.3.4" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.IO.Redist" version="6.1.3" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="18.4.0" targetFramework="net48" />
  <package id="Microsoft.ServiceHub.Analyzers" version="4.4.22" targetFramework="net48" />
  <package id="Microsoft.ServiceHub.Framework" version="4.4.22" targetFramework="net48" />
  <package id="Microsoft.ServiceHub.Resources" version="4.6.2052" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.14.106" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Composition" version="17.12.20" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="17.12.20" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.14.249" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.GraphModel" version="17.14.40260" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="17.9.37000" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging" version="17.9.37000" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.14.40254" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.14.40260" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.ProjectAggregator" version="17.14.40254" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="16.3.52" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.RpcContracts" version="17.9.7" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="17.7.98" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="17.9.37000" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="17.14.40260" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Telemetry" version="17.9.305" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.14.249" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.14.249" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI" version="17.14.249" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="17.14.249" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="17.9.37000" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="17.14.40260" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="17.13.2" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.14.15" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading.Only" version="17.14.15" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.9.37000" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.90" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="17.13.22" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.VCProjectEngine" version="17.14.40264" targetFramework="net48" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.14.2120" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="17.14.2120" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net481" />
  <package id="Nerdbank.MessagePack" version="1.1.25" targetFramework="net48" />
  <package id="Nerdbank.Streams" version="2.13.16" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="PolyType" version="1.2.1" targetFramework="net48" />
  <package id="StreamJsonRpc" version="2.24.84" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.5" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="10.0.5" targetFramework="net48" />
  <package id="System.Composition" version="10.0.5" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="10.0.5" targetFramework="net48" />
  <package id="System.Composition.Convention" version="10.0.5" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="10.0.5" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="10.0.5" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="10.0.5" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.5" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.5" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net481" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="10.0.5" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="10.0.5" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.5" targetFramework="net48" />
  <package id="System.Threading.AccessControl" version="10.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="10.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
</packages>