<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MessagePack" version="2.5.192" targetFramework="net481" />
  <package id="MessagePack.Annotations" version="2.5.192" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" targetFramework="net481" />
  <package id="Microsoft.Build.Framework" version="17.9.5" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.IO.Redist" version="6.0.1" targetFramework="net481" />
  <package id="Microsoft.NET.StringTools" version="17.9.5" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Analyzers" version="4.4.22" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Framework" version="4.4.22" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Resources" version="4.4.4171" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.9.187" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Composition" version="17.7.40" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="17.7.40" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.9.187" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.GraphModel" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Imaging" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Interop" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.ProjectAggregator" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="16.3.52" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.RpcContracts" version="17.9.7" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.10.10" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Telemetry" version="17.9.305" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.9.187" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.9.187" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.UI" version="17.9.187" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="17.9.187" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Threading" version="17.9.28" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.9.28" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.56" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Validation" version="17.8.8" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.VCProjectEngine" version="17.9.37000" targetFramework="net481" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.9.3184" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="17.9.3184" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net481" />
  <package id="Nerdbank.Streams" version="2.10.69" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="StreamJsonRpc" version="2.17.11" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net481" />
  <package id="System.ComponentModel.Composition" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.AttributedModel" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.Convention" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.Hosting" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.Runtime" version="8.0.0" targetFramework="net481" />
  <package id="System.Composition.TypedParts" version="8.0.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="9.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net481" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="9.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="9.0.0" targetFramework="net481" />
  <package id="System.Threading.AccessControl" version="8.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Dataflow" version="8.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>